header {
  width: 86%;
  margin: 0 auto;
  border-bottom: solid 2px gray;
  background-color: orange;
}
form {
  padding: 1.5em 0;
  padding-left: 1em;
  font-size: 1.5em;
}
form input {
  font-size: 1em;
}
.main {
  width: 86%;
  min-height: 400px;
  margin: 0 auto;
  background-color: yellow;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /*align-items: center;*/
  /*align-content: center;*/
}
.recipeCard {
  width: 23%;
  margin: 5px;
  border: 2px solid blue;
}
img {
  margin: 1em auto;
  width: 180px;
  height: 180px;
  display: flex;
  align-content: center;
}
.recipeCard h4 {
  text-align: center;
}
