header {
  width: 86%;
  margin: 0 auto;
  border-bottom: solid 2px #1B3A7D;
  background-color: #4B7EEB;
}
form {
  padding: 1.5em 0;
  padding-left: 1em;
  font-size: 1.5em;
}
form input {
  font-size: 1em;
}
.main {
  width: 86%;
  margin: 0 auto;
  background-color: #AAC1F2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
h1 {
  margin: 10px auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
.recipeCard {
  width: 23%;
  margin: 5px;
  border: 2px solid blue;
}
img {
  margin: 1em auto;
  width: 10em;
  height: 10em;
  display: flex;
  align-content: center;
}
.recipeCard h4 {
  text-align: center;
}
